<div class="product-thumbnail">
  {% if settings.display_vendor %}
    <span class="product-thumbnail__vendor">{{ product.vendor }}</span>
  {% endif %}

  {% if hover_enabled %}
    <span class="product-thumbnail__title">{{ product.title }}</span>
  {% else %}
    <a href="{{ product.url | within: collection }}" class="product-thumbnail__title">{{ product.title }}</a>
  {% endif %}

  {%
    render 'product-price-widget',
    product: product,
    collection_handles: collection_handles
  %}

</div>
